@import "tailwindcss";
body{
  background-color: black;
  color: white;
}

h1{
  top: 50%;
  left: 50%;
  font-size: 80px;
  transform: translate(-50%,-50%);
 position: absolute;
 text-decoration: underline;
}