.nav1{
    display: flex;
    justify-content: space-between;
    background:rgb(2, 70, 70);
    padding: 10px 10px;
    align-items: center;
    color: white;
}
*{
    margin: 0px;
    padding: 0px;
}
.nav2{
    display: flex;
    gap: 10px;
    font-size: x-large;
    
}