.parent{
  min-height: 100vh;
   background-color: black;
   display: flex;
   gap: 86px;
   padding: 28px;
  flex-wrap: wrap;
   
   }
*{
  margin: 0px;

  
  
}
.card{
  background-color: white ;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
 justify-content: space-between;
  flex-direction: column;
}
.card .top{
  margin: 10px;
  align-items: center;
  display: flex;
  justify-content:space-between;
  
}
.card  img{
  object-fit: cover;
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 50% ;
}

.card .top button{
  display: flex;
  align-items: center;
  opacity: 0.5;
  border-radius: 10%;
 padding: 5px;
  justify-content: space-around;
  border: 1px solid rgb(112, 111, 111);

}
.bottom{
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.center p{
  display: flex;
  font-size: 25px;
  font-weight: 300px;
}
.center .tag {
  display: flex;
  gap: 10px;
  font-size: 25px;
  padding-top: 10px;
  
 
}

.center p span{
  font-size:20px;
  align-items: center;

  gap: 7px;  opacity:0.7;

  padding-left: 4px;

}
.tag .partone {
 padding: 7px;
  background-color: rgb(213, 216, 216);
   border: 1px solid rgb(100, 98, 98);
   border-radius: 4px;
 
}
.parttwo{
   background-color: rgb(213,216 , 216);
    padding: 7px;
   border: 1px solid rgb(79, 77, 77);
   border-radius: 4px;
}
.bottom button{
  background-color: black;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 80px;
}