.nav{
  display: flex;
  justify-content: space-between;
  background-color: coral;
  color: white;
  height: 50px;
  align-items: center;
}

.navdesign{
  text-decoration: none;
  gap: 5px;
  display: flex;


}
body{
  background-color: rgb(41, 41, 41);
   color:  white;
}
*{
  margin: 0px;
  padding: 0px;
  
}
h1{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50% ,-50%);
 text-decoration: underline;
 font-size: 100px;
 white-space: nowrap;

}